@model HeadHunter.Models.UnifiedModels.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutWithLogin.cshtml";
}


<section id="loginForm">
    <h2>@ViewBag.Msg</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <fieldset class="col-md-4 col-md-offset-4">
            <legend>Log in Form</legend>
            <ol style="list-style:none">
                <li>
                    <div class="form-group">
                        <label>Email Address</label>
                        @Html.TextBoxFor(m => m.Account.AccountMail, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(m => m.Account.AccountMail)
                    </div>
                </li>
                <li>
                    <label>Password</label>
                    @Html.PasswordFor(m => m.AccountPassword.AccountPassword1, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.AccountPassword.AccountPassword1)
                </li>
            </ol>
            <input type="submit" value="Log in" class="btn btn-info btn-primary" />
        </fieldset>
        <p>
        </p>
    }
</section>